html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background-image: url("img/ejemplos/fondo.png")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#aboutme{
  background-image: -webkit-linear-gradient(#2980B9,#6DD5FA,#ffffff);
}
.top-nav-collapse {
    background-color: #24355C;
}

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #24355C;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: #24355C;
  }
  #acercademi{
    text-align: center;
    background-color: blue;
  }
}
